<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>faefa</p>
    <% if (typeof restaurant !== 'undefined') { %>
      <p><%= restaurant.name %></p>
      <p><%= restaurant.rating %></p>
      <p><%= restaurant.review_count %></p>
    <% } %>
  </body>
</html>
