<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/search" method="get">
      <input name="query" />
    </form>
    <% if (typeof restaurants !== 'undefined') { %>
      <%- include('../public/templates/search-card.ejs', {restaurants: restaurants}) %>
    <% } %>
  </body>
</html>
