<% for (var i = 0; i < restaurants.length; i++) { %>
  <a href="/restaurant/<%= restaurants[i].place_id %>">
    <div>
      <p><%= restaurants[i].name %></p>
      <p><%= restaurants[i].rating %></p>
      <p><%= restaurants[i].formatted_address %></p>
    </div>
  </a>
<% } %>
